In [1]:
# Shift + enter
print("Hello world")

Hello world

In [2]:
a = 8

In [3]:
print(a)

8

In [4]:
type(a)

int

In [5]:
a = "Hello"

In [6]:
a

'Hello'

In [7]:
type(a)

str

In [9]:
n = 90

if n>=10:
    print("Number is greater than 10")
else:
    print("Number is less than 10")
print("Always")

Number is greater than 10

In [13]:
i = 0
while i<=10:
    print(i, end=" ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10

In [15]:
for i in range(20,30):
    print(i, end= " ")

20 21 22 23 24 25 26 27 28 29

In [22]:
def add(a,b):
    return a+b

In [24]:
add(2,3)

5

In [31]:
def pattern(n):
    for i in range(n):
        print("* "*(i+1))

In [32]:
pattern(5)

*
* *
* * *
* * * *
* * * * *

## Data Strucutres

### List

In [33]:
l = [7,4,8,2,0,1]

In [34]:
print(l)

[7, 4, 8, 2, 0, 1]

In [35]:
for ele in l:
    print(ele**2)

49
16
64
4
0
1

In [38]:
l.append(90)

In [39]:
l

[7, 4, 8, 2, 0, 1, 90]

In [41]:
l.insert(2, 100)

In [42]:
l

[7, 4, 100, 8, 2, 0, 1, 90]

In [43]:
l[0]

7

In [45]:
l[-1]

90

In [48]:
# List Slicing
# l[ start_idx :  end_idx +1]
l[2:7]

[100, 8, 2, 0, 1]

In [49]:
l.sort()

In [50]:
l

[0, 1, 2, 4, 7, 8, 90, 100]

## Tuples

In [51]:
t1 = (8,9,3,6)

In [54]:
t1[0] = 9

TypeError: 'tuple' object does not support item assignment

In [55]:
t1

(8, 9, 3, 6)

In [56]:
type(t1)

tuple